*{
	box-sizing: border-box;
}

html,
body
{
	margin: 0;
	padding: 0;
}
body
{
	font: .875em/1.3 Arial, sans-serif;
}

.task-description
{
	margin: 0 0 40px 0;
	padding: 20px 0;

	border-bottom: 1px solid #bebebe;
}

.task-description .inner
{
	max-width: 500px;
	margin: 0 auto;
}

.task-description .code{
	font-size: 1.142em;
}