html, body{
	margin: 0;
	padding: 0;
}
body{
	font: .75em/1.3 Arial, sans-serif;
}

.task-description{
	padding: 20px 0;
	margin: 0 0 40px 0;
	border-bottom: 1px solid #bebebe;
}

.task-description .inner{
	max-width: 500px;
	margin: 0 auto;
}


.content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
}

.cart-wrapper{
	width: 300px;
	padding: 0 25px;
	margin: 0 25px;
	border-left: 1px solid #bebebe;
}

.cart-inner + .empty-cart{
	display: none;
	font: italic 1em Arial, sans-serif;
	color: #757575;
	margin: 10px 0;
}

.cart-inner:empty + .empty-cart{
	display: block;
}

.cart-list-item{
	margin: 0 0 10px 0;
	padding: 10px 0;
	font: 1em Arial, sans-serif;
	border-bottom: 1px dotted #bebebe;
}

.cart-list-item-inner{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0 0 10px 0;
}

.remove-all-cart-item{
	display: block;
	width: 100%;
}

.catalog-wrapper h2{
	text-align: center;
}

.catalog-inner{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
}

.catalog-item{
	width: 200px;
	padding: 15px;
	border: 1px solid #bebebe;
	margin: 20px 10px 0 10px;
}

.item-link{
	text-decoration: none;
	color: #000;
}

.item-img{
	display: block;
	width: 100%;
	height: 150px;
	text-align: center;
	font: 700 1.125em/150px Arial, sans-serif;
	border: 1px solid #bebebe;
	background: #d1d1d1;
	text-transform: uppercase;
	color: #454545;
}

.item-name{
	display: block;
	margin: 15px 0;
}

.catalog-item .cart-btn{
	display: block;
	width: 100%;
}